<header class="header">
  <aside class="logo">
    <span class="first-name">Novo</span>
    <span class="last-name">Código</span>
  </aside>
  <nav class="nav-list">
    <ul class="links-list">
      <li>Sites <fa-icon [icon]="faAngleDown"></fa-icon></li>
      <li>Marketing Digital <fa-icon [icon]="faAngleDown"></fa-icon></li>
      <li>Ti & Suporte <fa-icon [icon]="faAngleDown"></fa-icon></li>
      <li>Contato</li>
    </ul>
    <a href="" class="direct-contact"
      >Agendar diagnóstico <fa-icon [icon]="faWhatsapp" class="icon"></fa-icon>
    </a>
  </nav>
</header>
