.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  padding: 2rem 5rem;

  font-family: "Poppins", sans-serif;

  & .logo {
    font-size: 2.5rem;
    letter-spacing: -0.2rem;

    & .first-name {
      font-weight: 400;
      color: #ccc;
    }

    & .last-name {
      font-weight: 500;
      color: #000;
    }
  }

  & .logo:hover {
    cursor: pointer;
  }

  & .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;

    & .links-list {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4rem;

      & li {
        font-size: 1.6rem;
        font-weight: 600;
        list-style-type: none;
      }

      & li:hover {
        cursor: pointer;
      }
    }

    & .direct-contact {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      font-size: 1.6rem;
      font-weight: 500;
      text-decoration: none;

      color: #fff;
      background-color: #25d366;
      border-radius: 5rem;
      padding: 1rem 2.5rem;

      & .icon {
        font-size: 2.2rem;
        color: #fff;
      }
    }
  }
}
